<h1>Editing lesson package</h1>

<%= render "form", lesson_package: @lesson_package %>

<br>

<div>
  <%= link_to "Show this lesson package", @lesson_package %> |
  <%= link_to "Back to lesson packages", lesson_packages_path %>
</div>
