.custom-dropdown-menu {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 1.42857143;
  color: #333 !important;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 4px !important;
  padding: 5px 0px !important;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

  &__item {
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #333 !important;
    cursor: pointer;
    text-decoration: none !important;
    padding: 7px 20px !important;

    &:active {
      background-color: #f8f9fa !important;
      color: #333 !important;
    }

    &--danger {
      color: #d9534f !important;

      &:hover, &:active {
        color: #FFF !important;
        background-color: #d9534f !important;
      }
    }
  }
}
